<!DOCTYPE html>
<html lang="en">
  <%- include("../public/partials/header.ejs"); %>
  <body>
    <div class="wrapper">
      <%- include("../public/partials/nav-top.ejs"); %> <%-
      include("../public/partials/nav-side.ejs"); %> <%-
      include("../public/partials/main_block.ejs"); %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="/scripts/index.js"></script>
  </body>
</html>
