.header {
  background-color: var(--color-purple);
  height: 90vh;

  .hidden {
    @include abolutePosition($top: 50%, $right: 0);
    transform: translateY(-50%);
    width: 80%;
    background-color: rgba($color-black, 0.8);
    font-size: 2rem;
    padding: 1rem;
    display: none;
  }
  &:hover .hidden {
    @include flexBlock($jContent: center, $aItems: center);
  }

  &__image {
    // display: block;
    // width: 100%;
    // height: 100%;
    @include imageSetter($height: 100%);
  }
}
