<nav class="nav__top">
  <div class="movie__genre u-font-bigger">Comedy</div>

  <div class="movie__genre u-font-bigger">Animation</div>

  <div class="movie__genre u-font-bigger">History</div>

  <div class="movie__genre u-font-bigger">Drama</div>
  <form action="" id="searchSerie">
    <input id="searchSerieText" type="text" name="searcher" />
    <input type="submit" class="submit" value="search Serie" />
  </form>
</nav>
