$bg_wrapper: crimson;
$color-red: #700;
$color-black: black;
$color-white: white;
$color-purple: purple;
$color-gold: gold;
$color-font--main: #fff;
$color-gray: gray;
$color-gray--light: rgb(212, 199, 199);
$font-size: 1.2rem;
// veriables for queries:
$medium: 50em; //800px
$small: 31.25em; //500px
